<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="kr.co.connect.boostcamp.livewhere">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".LiveApplication"
            android:allowBackup="true"
            android:icon="@drawable/img_home_logo"
            android:roundIcon="@drawable/img_home_logo"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.main.SplashActivity"
                  android:theme="@style/SplashTheme"  >

        </activity>
        <activity android:name=".ui.main.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.detail.DetailActivity">

        </activity>
        <activity android:name=".ui.map.MapActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>